
/* DEFINING GLOBAL VARIABLES */
* {
  /* GRAY BORDER */
  --border-gray: #b5b5b5;
  /* BLUE BACKGROUND */
  --blue-bg: #3492eb;
  /* ON HOVER ICON BTN BG */
  --hover-icon-btn-bg: #ebebeb;
  /* LIGHT GRAY BG */
  --light-gray-bg: #f0efef;

  /* COMMON BOX SHADOW */
  --common-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0,0.3);

  /* COLOR GOOD */
  --color-good: #39b321;

  /* COLOR REMOVE */
  --color-remove: #e93636;

  /* COMMON TRANSITION */
  --common-transition: 0.2s all ease;

}

body {
  padding: 0px;
  margin: 0px;
  font-family: 'Fredoka', sans-serif;
  overflow: hidden;
}

/* ALL KEYFRAMES */

/* BOUNCE ANIMATION */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
  40% {transform: translateY(-15px);} 
  60% {transform: translateY(-10px);} 
} 

/* SLIDE FROM LEFT ANIMATION */
@keyframes slideFromLeft {
  0% {
    margin-left: -20vw;
    opacity: 0;
  }

  100% {
    margin-left: 0px;
    opacity: 1;
  }
}

/* SPIN ANIMATION */
@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ------------------ */

/* COMMON CSS */
.flexCenterCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexBetweenCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColStartCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.flexColCenterCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColBetweenCenter {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* APP */
.App {
  position: relative;
  height: 100vh;
  width: 100vw;
}


/* MAP CONTAINER */
.mapWrap {
  position: relative;
  width: 100%;
  height: 100vh;
}

/* MAP */
.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

/* CONTROLS CONTAINER */
.controlsContainer {
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: 100;
  padding: 10px;
}

/* OPEN CONTROLS CONTAINER */
.openControlsContainer {
  background: white;
  width: 20vw;
  height: 100vh;
  box-shadow: 4px 0px 4px 0px rgba(0, 0, 0,0.3);

  /* SLIDE FROM LEFT ANIMATION */
  animation-name: slideFromLeft;
  animation-timing-function: ease;
  animation-duration: 200ms;
  animation-iteration-count: 1;
}

.startChooseBtn {
  width: 300px;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  position: relative;
  background: var(--blue-bg);
  transition: var(--common-transition);
  margin: 20px 10px;

  /* BOUNCING ANIMATION */
  animation-name: bounce;
  animation-duration: 2000ms;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}
.startChooseBtn:hover {
  transform: scale(1.05);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0,0.3);
  color: var(--blue-bg);
  background: white;
  border: 1px solid var(--blue-bg);
  animation-name: none;
}
.startChooseBtnIcon {
  position: absolute;
  left: 0;
  padding: 10px;
}


/* OPEN CONTROLS CONTENT CONTAINER */
.openControlsContentContainer {
  width: 100%;
}

/* OPEN CONTROLS CONTENT HEADERS */
.openControlsContentTransportBtn{
  margin: 0px 5px;
  border-radius: 20px;
  transition: var(--common-transition);
  padding: 5px;
  cursor: pointer;
  border: none;
  color: #363636;
  background: transparent;
}
.openControlsContentTransportBtn:hover {
  background: #e8e8e8;
}
.openControlsHeaders {
  width: 100%;
  padding: 0px 10px;
}
.openControlsHeaderCloseBtn {
  border: none;
  border-radius: 8px;
  padding: 5px;
  background: none;
  cursor: pointer;
  transition: var(--common-transition);
}
.openControlsHeaderCloseBtn:hover {
  background: var(--hover-icon-btn-bg);
}

/* OPEN CONTROLS BODY */

.openControlsBody {
  padding: 10px;
  width: 100%;
  min-width: 200px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0,0.3);
}

.openControlBodySwitchBtn {
  /* REVERSE ICON */
  background-image: url(//maps.gstatic.com/consumer/images/icons/1x/swap_vert_grey800_24dp.png);
  background-size: 24px 24px;
  width: 24px;
  height: 100%;
}

.openControlsBodyCordContainer, .openControlsBodyCordFilled {
  width: 80%;
  text-align: center;
  margin: 5px 10px;
  padding: 16px 10px;
  border-radius: 8px;
  border: 1px solid var(--border-gray);
  box-shadow: var(--common-box-shadow);
  font-weight: 500;
  font-size: 16px;
  background: var(--light-gray-bg);
  transition: var(--common-transition);
}

.openControlsBodyCordFilled {
  cursor: pointer;
  background: var(--color-good);
  color: white;
  border: none;
}
.openControlsBodyCordFilled:hover {
  background: var(--color-remove);
}

/* OPEN CONTROLS DIRECTIONS */
.openControlsDirectionsGetRouteBtn, .loadingRouteBtn {
  margin: 10px 0px;
  width: 76%;
  padding: 10px 0px;
  border-radius: 10px;
  border: none;
  box-shadow: var(--common-box-shadow); 
  background: var(--blue-bg);
  color: white;
  font-weight: 600;
  font-size: 17px;
  position: relative;
  cursor: pointer;
  transition: var(--common-transition);
  height: 50px;
} 
.openControlsDirectionsGetRouteBtn:hover {
  transform: scale(1.05);
}

.spinner {
    width: 18px;
    height: 18px;
    border: 5px solid;
    border-color: white transparent white transparent;
    border-radius: 50%;
    animation: spinAnimation 1.2s linear infinite;
}